@import 'media-query/media-1200';
@import 'base/fonts';
@import 'base/variables';
@import 'blocks/titles';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultaation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feedback';
@import 'blocks/footer';
@import 'blocks/modal';


*{
    font-family: 'Museo Sans Cyrl 500', sans-serif;
}

a {
    text-decoration: none;
}

.container{
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}