@font-face {
    font-family: 'Roboto';
    src: url('/files/fonts/Roboto-Black.eot');
    src: url('/files/fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('/files/fonts/Roboto-Black.woff') format('woff'),
    url('/files/fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    }

@font-face {
    font-family: 'Roboto';
    src: url('/files/fonts/Roboto-Light.eot');
    src: url('/files/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('/files/fonts/Roboto-Light.woff') format('woff'),
    url('/files/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    }