.about {
    padding: 120px 0;
    &__wrapper {
        display: grid;
        grid-template-columns: 400px 570px;
        gap: 70px;
    }
    &__descr{
        display: grid;
        grid-template-rows: minmax(125px,auto) / auto;
        padding-top: 6px;
    }
    &__image img{
        max-width: 400px;
    }

    &__title{
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__subtitle {
        margin-top: 6px;
        @include bottom_line;

    }
    &__text {
        font-size: 14px;
        margin-top: 20px;
        line-height: 21px;
    }
    &__skill{
        display: grid;
        grid-template-columns: 260px 260px;
        column-gap: 50px;
        row-gap: 20px;
        margin-top: 40px;
        &-item{
            display:grid;
            grid-template-columns: 40px 200px;
            column-gap: 20px;
        }
        &-descr{
            width: 200px;
            min-height: 120px;
        }
        &-text {
            margin-top: 6px;
            font-size: 12px;
            line-height: 18px;
        }
        &-icon {   
            padding: 15px 0 0 45px;
            @include before_circle;
            &:before {
                top: 0;
            }
            @include  icnon_for_circle;      
        }
    }
}